/*Web Fonts*/
@font-face {
    font-family: 'inter';
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
         url('/fonts/inter-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('/fonts/inter-light-webfont.woff2') format('woff2'),
         url('/fonts/inter-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('/fonts/inter-medium-webfont.woff2') format('woff2'),
         url('/fonts/inter-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
         url('/fonts/inter-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* END OF FONTS*/



/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video {
    display: block;
    max-width: 100%;
}
/* END OF CSS RESET*/



/* COLOR variables */
:root {
    --html-bg: oklch(13% 0.028 261.692);
    --bg-grad-center: oklch(28.2% 0.065 267.935);
    --bg-grad-edges: oklch(13% 0.028 261.692);
    --bg-gradient: radial-gradient(ellipse at bottom, var(--bg-grad-center) 0%, var(--bg-grad-edges) 100%);
    --font-color: oklch(92.3% 0.003 50);
    --font-color2: oklch(78.3% 0.003 50);
    --selection-bg: oklch(96.8% 0.007 247.896);
    --selection-color: oklch(12.9% 0.042 264.695);
    --border-color: rgba(255, 255, 255, 0.15);
    --profile-outline: var(--font-color);
    --h2-bg: oklch(0.29 0.055 267.935);
    --h2-color: oklch(from var(--font-color) calc(l - 0.05) c h);

    --glassy-bg: hsla(0, 0%, 100%, 0.025);
    --glassy-shadow-col: rgba(0, 0, 0, 0.25);
    --glassy-hover: hsl(from var(--glassy-bg) h s l / 0.1);
    --glassy-active: hsl(from var(--glassy-bg) h s l / 0.05);
}
/*END OF COLOR variables */

:root:has([data-theme="light"]) {
    --font-color: oklch(27% 0 0);
    --font-color2: oklch(42% 0 0);
    --bg-grad-center: oklch(97% 0.014 254.604);
    --bg-grad-edges: oklch(88.2% 0.059 254.128);
    --html-bg: var(--bg-grad-center);
    --bg-gradient: radial-gradient(ellipse at center, var(--bg-grad-center) 50%, var(--bg-grad-edges) 140%);
    --border-color: #26262680;
    --selection-color: var(--bg-grad-center);
    --selection-bg: oklch(12.9% 0.042 264.695);
    --h2-bg: oklch(91% 0.035 254.604);

    --glassy-bg: hsla(0, 0%, 100%, 0.15);
    --glassy-shadow-col: rgba(0, 0, 0, 0.2);
    --glassy-hover: oklch(from var(--h2-bg) calc(l - 0.1) calc(c - 0.01) h / 0.5);
    --glassy-active: hsl(from var(--glassy-bg) h s l / 0.05);
}

/* UTILITY CLASSES [Re-Usable Classes]*/
.offscreen {
    position: absolute;
    top: 0;
    left: -1000px;
}

.glassy {
    border: 1px solid var(--border-color);
    backdrop-filter: blur(2px);
    background-color: var(--glassy-bg);
    box-shadow: 0px 4px 5px var(--glassy-shadow-col);
    transition: background-color 0.35s, box-shadow 0.35s, transform 0.35s;
    transform: translateY(0) translateZ(0);;
}

.glassy:hover {
    background-color: var(--glassy-hover);
}

.glassy:active {
    background-color: var(--glassy-active);
    box-shadow: 0px 0px 5px var(--glassy-shadow-col);
    transform: translateY(4px);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nowrap {
    text-wrap: nowrap;
}

.f2 {
    color: var(--font-color2);
}

.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s;
}

.fadein {
    opacity: 1;
    transform: translateY(0);
}
/* END OF UTILITY CLASSES */



/* GENERAL HTML*/
html {
    scroll-behavior: smooth;
    font-family: 'inter', sans-serif;
    line-height: 1.5;
    background-color: var(--html-bg);
}

body {
    background: var(--bg-gradient);
    color: var(--font-color);
    min-height: 100svh;
    position: relative;
    transition: color 0.5s, background-color 1s;
}

button {
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}

button:active {
    transform-origin: center;
    transition: scale(0.75);
    opacity: 0.5;
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.35s;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.3;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color);
}

.wrapper {
    max-width: 864px;
    margin: 0 auto;
    padding: 1rem;
    z-index: 1;
    position: relative;
}
/* END OF GENERAL HTML */


/* Header */
.header {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    container: nav-layout / inline-size;
    gap: 1rem;
}

.header nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header nav ul li a {
    --fs: 1rem;

    font-size: var(--fs);
    padding: calc((40px - var(--fs)) / 2) 0;
}

.theme-btn {
    display: grid;
    grid-template-areas: "icon";
    width: 50px;
    height: 50px;
    place-items: center;
    transition: opacity 0.35s;
}

.theme-btn:hover {
    opacity: 0.65;
}

.theme-btn img {
    width: 45%;
    height: 45%;
    transition: transform 0.5s;
}

.theme-btn > * {
    grid-area: icon;
}

.theme-btn:active img {
    transform: scale(0.8);
}

.theme-btn[data-theme="light"] .dark-icon {
    opacity: 0;
}

.theme-btn[data-theme="dark"] .light-icon {
    opacity: 0;
}

nav li {
    list-style-type: none;
}

nav > .theme-btn {
    display: none;
}

@container nav-layout (width < 275px) {
    .header nav ul {
        gap: 0;
    }
    .header nav ul li a {
        font-size: 0.85rem;
        padding-inline: 6px;
    }

    .theme-btn {
        width: 36px;
        height: 36px;
    }

}
/* END OF Header */

/* Footer */
.footer-container {
    container: footer-layout / inline-size;
}


.footer {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@container footer-layout (width < 434px) {
    .footer {
        justify-content: center;
    }

    .socials {
        margin-right: 0;
    }
}

footer p {
    font-size: 0.85rem;
    font-weight: 300;
}

.socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-right: -0.5rem;
}

.socials > a {
    padding: 0.5rem;
}


.socials svg {
    display: block;
    width: 20px;
    height: 20px; 
}
/* END OF Footer*/



/* Particle.js CSS */
.particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}
/* END OF Particle.js CSS*/


.hero {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 1rem;
    max-width: 60ch;
    margin: 10vh auto;
    text-wrap: pretty;
    place-items: center start;

}

.hero__title > h1 {
    font-size: 1.25rem;
}

.hero__title > p:before {
    content: "📍";
    margin-right: 0.5rem;
}

.hero__title > p {
    font-size: 0.8rem;
}

.profile-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--profile-outline); 
    box-sizing: content-box;
}

.profile-container img {
    width: 60px;
    height: 60px;
    border-radius: inherit;
}

.hero__desc {
    grid-column: 1 / span 2;
}

.wave {
    display: inline-block;
    transition: transform 0.25s;
    transform-origin: right bottom;
    cursor: pointer;

}

.wave:hover {
    animation: waving-hover 1.5s ease-in-out 1;
}



.tech {  
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    place-content: center;
    margin: 4rem 0;
}

a:has(.stack-icon) {
    opacity: 1;
}

.stack-icon {
    width: 90px;
    height: 75px;
    padding: 10px;
    border-radius: 5px;
    place-content: center;  
}

.stack-icon p {
    text-align: center;
    margin-top: 5px;
    font-size: 0.75rem;
}

.stack-icon img {
    margin: 0 auto;
    height: 25px;
    width: auto;
    transition: transform 0.35s, filter 0.35s;
    transform-origin: center;
    filter: saturate(0);
}
.stack-icon:hover img {
    filter: saturate(1);  
    transform: scale(1.05) translateY(-4px); 
}

.stack-icon:active img {
    filter: saturate(0.75);  
    transform: scale(0.95); 
}

/* .stack-icon.flask img {
    filter: contrast(0.35);   
}

.stack-icon.flask:hover img {
    filter: contrast(1);     
} */

h2 {
    font-size: 1rem;
    background-color: var(--h2-bg);
    color: var(--h2-color);
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-weight: 500;
    width: fit-content;
}

.project-cards {
    margin: 4rem 0;
}

a:hover:has(> .card) {
    opacity: 1;
}


.project-cards > a:has(> .card) {
    display: block;
    container: card / inline-size;
    margin: 1.25rem 0;
}


.project-cards > a:not(a:has(> .card))::after {
    content: "→";
    margin-left: 1ch;
    display: inline-block;
    transition: transform 0.35s;
}

.project-cards > a:not(a:has(> .card)):hover::after {
    transform: translateX(1ch);
}

.card {
    display: flex;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}



.card-img-div {
    border: inherit;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
}

.card img, video {
    width: 250px;
    height: auto;
    transition: transform 0.35s;
}

.card:hover img {
    transform: scale(1.025);
}

.card-texts {
    flex: 1 1 60%;
}

.card-texts > h3 {
    font-size: 1rem;

    margin-bottom: 0.25rem;
}
.card-texts > p {
    font-size: 0.9rem;
    color: oklch(from var(--font-color2) calc(l - 0.05) c h);
    /* text-wrap: pretty; */
}

.salah-time {
    display: grid;
    grid-template-areas: "icon";
}

.salah-time > * {
    grid-area: icon;
}


.card:has(.salah-time) img {
    opacity: 0;
    transition: opacity 0.35s;
}
.card:has(.salah-time):hover img {
    opacity: 1;
}

.services-cards {
    display: flex;
}



@container card (width < 531px) {
    .card {
        flex-flow: column;
        gap: 0.5rem;
    }
    .card-img-div, .card img, .card video {
        width: 100%;
        height: auto;
    }
}

@keyframes waving-hover {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (width < 576px) {
    :root {
        --glassy-bg: oklch(0.22 0.04 264.93 / 90%);
        --glassy-hover: hsl(from var(--glassy-bg) h s l / 0.1);
        --glassy-active: hsl(from var(--glassy-bg) h s l / 0.05);
    }
    
    :root:has([data-theme="light"]) {
        --glassy-bg: oklch(97% 0.014 254.604 / 90%);
    }

    .mobile { display: none; }

    .glassy {
        border: 1px solid var(--border-color);
        backdrop-filter: none;
        background-color: var(--glassy-bg);
        box-shadow: 0px 4px 5px var(--glassy-shadow-col);
        transition: background-color 0.35s, box-shadow 0.35s, transform 0.35s;
        transform: translateY(0) translateZ(0);;
    }
    /* .particles-js {
        height: 100svh;
    } */
}

@media screen and (width < 880px) {
    .tech {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
    .stack-icon {
        /* width: calc((100vw - 3.5rem) / 4); */
        width: 100%;
        padding: 5px;
    }
    .stack-icon p {
        margin-top: 10px;
        font-size: 0.65rem;
    }
    .stack-icon img {
        margin: 5px auto 0;
    }
}